# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
.venv/
venv/
env/
ENV/

# =========================
# ENV VARIABLES
# =========================
.env
.env.*
!.env.example

# =========================
# TEST / COVERAGE
# =========================
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# =========================
# BUILD FILES
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# LOGS
# =========================
*.log

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# IDE
# =========================

# IntelliJ / PyCharm
.idea/

# VSCode
.vscode/

# =========================
# OS FILES
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db

# =========================
# DOCKER
# =========================
docker-compose.override.yml

# =========================
# MISC
# =========================
tmp/
temp/
.cache/